table {
    width: 100%;
    margin-top: 15px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  tr.employee-row:hover {
    background: whitesmoke;
    cursor: pointer;
  }

  .filter {
    display: inline-flex;
    width: 25%;
  }

  .filter-box {
    box-shadow: 10px 10px 8px rgb(214, 214, 214);
  }

  tr.user-row:hover{
    background: whitesmoke;
    cursor: pointer;
  }