<footer class="flex-col">
    <div class="bg-light">
        <div class="wrapper flex-col center">
            <div class="copyright-container">
                <p> Copyright &copy; 2020. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>