/* header {
  width:100%;
  height:45px;
  color:white;
  background-color:#644ea1;
  margin:0px;
  box-sizing:border-box;
  padding:13px 40px;
  
}

header h5 {
  border:0px solid orange;
  display:inline;
  margin:0px;
}

ul {
  list-style-type:none;
  margin:0px;
}

header li {
border:0px dotted red;
  display:inline;
  font-size:15px;
  text-align:right;
  padding:0px 20px;
  float: right;
}

header li:first-child {

  padding-right:0px;
}

header li:first-child {
  border-left:1px solid white;
}

header a {
  text-decoration:none;
  color:white;
} */

nav a {
  text-decoration:none;
  color:black;
}

nav {
  width:100%;
  height:70px;
  line-height:90px;
  color:black;
  background-color: rgb(220, 229, 245);
  margin:0px;
  box-sizing:border-box;
  padding:0px 40px;
  border:0px solid red;
}

nav h1>i {
  font-size:40px;
  vertical-align:middle;
  color:blue;
  margin:0px;
}

nav li i {
  font-size:12px;
  vertical-align:middle;
  color:black;
  margin:0px;
}


nav>h1 {
  font-size:28px;
  display:inline;
  margin:0px;
  border:0px solid orange;
}

nav ul {
  border:0px solid blue;
  margin:0px;
  padding:0px 0px;
  float:right;
}

nav li {
  border:0px solid green;
  display:inline;	
  font-size:15px;
  text-transform:capitalize;
  font-weight:bold;	
  padding:0px 15px;
  margin:0px;
}
.normalclass {
  font-weight:normal;
}


.logo img {
  float: left;
  width: 60px;
  height: 60px;

}

a:link {
  text-decoration: none;
}

.logo-title {
  color: black;
  font-size: 30px;
}


.primary {
  background-color: rgb(191, 213, 252);
  box-shadow: 0 10px 10px -2px rgb(214, 214, 214);
}

.test {
  font-size: 30px;
}

.fill-remaining-space {

 flex: 1 1 auto;
}

.router-link-active {
  border-radius: 5px;
  background-color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .test { display: block; }
  .logo-title { display: block; }
}

@media screen and (min-width: 401px) and (max-width: 960px) {
  .test { display: none; }
  .logo-title { display: none; }
}

mat-icon {
  font-size: 19px;
  margin-left: 5px;
  margin-top: 4px;
}

.prod-head
{
	margin-left:-5px !important;
	text-align:left;
	font-weight:800;
	color:#6f7576;
	margin:0;
}

.test button {
  color: #453d93;
}