<mat-tab-group
  class="login-form"
  mat-align-tabs="center"
  headerPosition="below"
>

  <mat-tab label="Login">
    <div class="form-container">
      <form #loginForm="ngForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            id="loginEmail"
            #email="ngModel"
            [(ngModel)]="loginModel.email"
            name="email"
            matInput type="email"
            placeholder="email@address.com"
            required
          >
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            id="loginPassword"
            #email="ngModel"
            [(ngModel)]="loginModel.password"
            name="password"
            matInput type="password"
            placeholder="********"
            required
          >
        </mat-form-field>
        <br/>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="login()"
          [disabled]="!loginForm.form.valid"
        >
          Login
        </button>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
