<mat-tab-group>
  <mat-tab label="Edit">
    <form class="example-form" [formGroup]="editFormGroup" (ngSubmit)="editUser(loggedUserId)">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error>
              Email should be between 3 and 20 characters.
          </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput required>
            <mat-error>
              Password should be between 3 and 10 characters.
          </mat-error>
          </mat-form-field>
          <div class="form-buttons" type="password">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" [disabled]="!editFormGroup.valid" mat-raised-button [mat-dialog-close]="true" class="btn-submit-edit">Submit</button>
          </div>
      </form>
  </mat-tab>

