<div class="add-skill-form">
  <mat-card class="card">
    <mat-card-title>Add new skill</mat-card-title>
    <mat-form-field class="content-field">
      <mat-label>Add skill here</mat-label>
      <textarea
        required
        matInput
        #commentText
        maxlength="20"
        placeholder="..."
        [(ngModel)]="skillName"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Add skill"
      (click)="createSkill()"
    >
      <mat-icon>check</mat-icon>
    </button>
  </mat-card>
</div>
