    <div class="project-data-container">
      <img class="card-img-top"
        src="https://media.licdn.com/dms/image/C561BAQHPj3cTKJFU9g/company-background_10000/0?e=2159024400&v=beta&t=q74_zGRmFxwEgFWZHayOudqmA84j8gqoksrBQV0webI" />
      <div class="container">
        <div class="project-info">
          <div class="text-center">
            <button *ngIf="loggedUserName===project?.reporter" (click)="this.agreeDelete()" matTooltip="Delete project" class="user-edit" mat-icon-button >
              <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="loggedUserName===project?.reporter" (click)="this.agreeStop()" matTooltip="Stop project" class="user-edit" mat-icon-button >
              <mat-icon>cancel</mat-icon>
            </button>
            <button *ngIf="loggedUserName===project?.reporter" (click)="this.showEditForm()" matTooltip="Edit project" class="user-edit" mat-icon-button >
              <mat-icon>edit</mat-icon>
            </button>
          <div class="info">
            <p>
              <mat-card-title class="title">{{project?.name}}</mat-card-title>
            </p>
            <p>
              <mat-card-subtitle class="position" style="font-weight:bold">About this Project: {{project?.description}}</mat-card-subtitle>
            </p>
            <br>
            <p>
              <mat-card-content class="position">Status: {{project?.status}}</mat-card-content>
            </p>
            <br>
            <mat-divider></mat-divider>
            <p>
              <mat-card-content class="position">Project Manager: {{project?.reporter}}</mat-card-content>
            </p>
            <br>
            <p>
              <mat-card-content class="position" matBadge="{{project?.managementDailyHours}}" matBadgeOverlap="false" matBadgeColor="primary">Management Daily Input</mat-card-content>
            </p>
            <br>
            <p>
              <mat-card-content class="position" matBadge="{{project?.managementTotalHours}}" matBadgeOverlap="false" matBadgeColor="primary">Management Total Hours</mat-card-content>
            </p>
            <br>
            <p>
              <mat-card-content class="position" matBadge="{{project?.managementTotalHours - project?.managementHoursPassed}}" matBadgeOverlap="false" matBadgeColor="primary">Management Hours Left</mat-card-content>
            </p>
            <br>
            <p>
              <mat-card-content *ngIf="this.project.remainingDays" class="position" matBadge="{{project?.remainingDays}}" matBadgeOverlap="false" matBadgeColor="primary">Work Days Until Completion</mat-card-content>
            </p>
            <p>
              <mat-card-content style="color:red;font-weight: bolder;" *ngIf="!this.project.remainingDays" class="position">Completion not possible!</mat-card-content>
            </p>
            <br>
            <mat-divider></mat-divider>
            <p>
            <mat-card-content *ngIf="this.project.remainingDays && (this.project.remainingDays - this.project.targetDays) > 0" class="position" matBadge="{{this.project.remainingDays - this.project.targetDays}}" matBadgeOverlap="false" matBadgeColor="warn">Work Days Behind Schedule</mat-card-content>
            </p>
            <br>
            <mat-card-content class="position">
              <span *ngIf="this.withinTarget === 'Yes'">
                <mat-chip-list>
                  <mat-chip color="primary" selected>WITHIN TARGET<mat-icon>sentiment_very_satisfied</mat-icon></mat-chip>
                </mat-chip-list>
              </span>
              <span *ngIf="this.withinTarget === 'No'">                   
                <mat-chip-list>
                  <mat-chip color="warn" selected>NOT WITHIN TARGET<mat-icon>sentiment_very_dissatisfied</mat-icon></mat-chip>
                </mat-chip-list>
              </span>
              <br>
            </mat-card-content>
            <br>
          </div>
          </div>
        </div>
      </div>
      <br>
      <form *ngIf="this.projectInEditMode" [formGroup]="this.projectEditForm">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input #nameInput formControlName="name" matInput>
          </mat-form-field>
          <button (click)="this.updateProject(nameInput.value, null, null)" mat-flat-button>Update</button>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea #descriptionInput formControlName="description" matInput></textarea>
          </mat-form-field>
          <button (click)="this.updateProject(null, descriptionInput.value, null)" mat-flat-button>Update</button>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Management Total Hours</mat-label>
            <input type="number" #totalHoursInput formControlName="managementTotalHours" matInput>
          </mat-form-field>
          <button (click)="this.updateProject(null, null, +totalHoursInput.value)" mat-flat-button>Update</button>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Management Daily Input</mat-label>
            <input type="number" #dailyHoursInput formControlName="managementDailyInput" matInput>
          </mat-form-field>
          <button (click)="this.updateProjectManagerInput(+dailyHoursInput.value)" mat-flat-button>Update</button>
        </div>
        </form>
    </div>

