@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');

   .lp {
    background: #fff;
    border-radius: 8px;
    max-width: 100%;
    height: 431px;
    margin: auto;
    border: 1px solid rgb(219,219,219);
    box-shadow: 10px 10px 8px rgb(214, 214, 214);
    padding: 32px 32px 8px 32px;
    overflow: hidden;
  }

  .logo-img {
    width: 50px;
  }
  .lp__body {
    display: flex;
  }
  

  .lp__nav {
    width: max-content;
    display: flex;
    align-items: center;
    
  }

  .prod-head
{
	margin-left:-5px !important;
	text-align:left;
	font-weight:800;
	color:#6f7576;
	margin:0;
}
  .lp__nav__logo {
    width: 20px;
    margin: -1px 0 0;
    padding: 0 4px 0 0;
  }
  .lp__nav__text {
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;

  }

  .lp__text {
    min-width: 200px;
    padding: 0 0 25px;
    align-self: flex-end;
  }
  .lp__text__title {
    font-size: 32px;
    text-decoration: underline;
    margin: 0;
  }
  .lp__text__title-first {
    display: block;
  }
  .lp__text__subtext {
    color: #aaa;
    font-size: 12px;
    line-height: 1.75;
    margin: 16px 0;
  }

  
  img.lp__mainImg__img {
      height: 431px;
  }
  .lp__mainImg__img {
    width: 100%; 
    height: 410px;
    margin: -70px 40px 0;
  }

  main {
      margin-top: 50px;
      width: 100%;
      margin-bottom: 50px;
  }

div.lp {
  height: 462px;
}