<mat-tab-group class="user-info">
  <mat-grid-tile>
    <mat-tab label="Projects">
      <mat-list role="list">
          <table mat-table [dataSource]="projects" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Project ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>   

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} 
                </td>
              </ng-container>
            
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
            
              <ng-container matColumnDef="targetDays">
                <th mat-header-cell *matHeaderCellDef> Target Days </th>
                <td mat-cell *matCellDef="let element"> {{element.targetDays}} </td>
              </ng-container>   

                            
              <ng-container matColumnDef="remainingDays">
                <th mat-header-cell *matHeaderCellDef> Remaining Days </th>
                <td mat-cell *matCellDef="let element"> {{element.remainingDays}} </td>
              </ng-container>  
              <tr mat-header-row *matHeaderRowDef="displayedColumnsProject"></tr>
              <tr mat-row class="row-hover" *matRowDef="let row; columns: displayedColumnsProject;" (click)="projectPage(row)"></tr>
            </table>
      </mat-list>
    </mat-tab>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-tab label="Subordinates">
      <mat-list role="list">
          <table mat-table [dataSource]="subordinates" class="mat-elevation-z8">
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} 
                </td>
              </ng-container>
            
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>
            
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>   

              <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployee"></tr>
              <tr mat-row class="row-hover" *matRowDef="let row; columns: displayedColumnsEmployee;" (click)="employeePage(row)"></tr>
            </table>
      </mat-list>
    </mat-tab>
  </mat-grid-tile>
</mat-tab-group>





