<mat-tab-group>
  <mat-tab label="Manager">
    <form class="example-form" [formGroup]="createManagerFormGroup" (ngSubmit)="createManager()">
        <mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error *ngIf="createManagerFormGroup.controls['firstName'].errors?.minlength">
            First name should be between 3 and 10 characters.
        </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error *ngIf="createManagerFormGroup.controls['lastName'].errors?.minlength">
            Last name should be between 3 and 10 characters.
        </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Position</mat-label>
          <input matInput formControlName="position" required>
          <mat-error *ngIf="createManagerFormGroup.controls['position'].errors?.minlength">
            Position name should be between 3 and 20 characters.
        </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="createManagerFormGroup.controls['email'].errors?.minlength">
              Email should be between 3 and 20 characters.
          </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput required>
            <mat-error *ngIf="createManagerFormGroup.controls['password'].errors?.minlength">
              Password should be between 3 and 10 characters.
          </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Direct Manager</mat-label>
            <mat-select [(value)]="managerId" >
              <mat-option>Clear</mat-option>
              <mat-option *ngFor="let manager of managersList" [value]="manager.id">
                {{ manager?.firstName }} {{manager?.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span>
            <mat-checkbox [checked]="isAdmin" (change)="onChangeAdmin()">Admin</mat-checkbox>
          </span>
          <span class="form-buttons">
            <button mat-button mat-dialog-close>Cancel</button>
            <button [disabled]="!createManagerFormGroup.valid" type="submit" mat-raised-button [mat-dialog-close]="true" class="btn-submit-edit">Create</button>
          </span>
      </form>
  </mat-tab>
  <mat-tab label="Employee">
    <form class="example-form" [formGroup]="createEmployeeFormGroup" (ngSubmit)="createEmployee()">
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="createEmployeeFormGroup.controls['firstName'].errors?.minlength">
          First name should be between 3 and 10 characters.
      </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="createEmployeeFormGroup.controls['lastName'].errors?.minlength">
          Last name should be between 3 and 10characters.
      </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Position</mat-label>
        <input matInput formControlName="position" required>
        <mat-error *ngIf="createEmployeeFormGroup.controls['position'].errors?.minlength">
          Position should be between 3 and 20 characters.
      </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Skills</mat-label>
        <mat-select [formControl]="skills" multiple>
          <mat-option *ngFor="let skill of skillsList" [value]="skill.id">{{skill.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Direct Manager</mat-label>
        <mat-select [(value)]="managerId">
          <mat-option *ngFor="let manager of managersList" [value]="manager.id">
            {{ manager?.firstName }} {{manager?.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="form-buttons">
        <button mat-button mat-dialog-close>Cancel</button>
        <button [disabled]="!createEmployeeFormGroup.valid" type="submit" mat-raised-button [mat-dialog-close]="true" class="btn-submit-edit">Create</button>
      </span>
    </form>
  </mat-tab>
</mat-tab-group>
